:root{
    /* Colours */
    --color-text:#fff;
    --color-primary:#1c1c1d;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg:#141414;
    --color-black: #000000;

    /* Fonts */
    -font-robot:"Roboto";
}